
@section Hero{
<h1>Azure.CDN.Me.Sample</h1>
}

<section id="gridSystem">

<div class="row show-grid">
	<div class="span4 lolcat1">Pic 1</div>
	<div class="span4">Pic 2</div>
	<div class="span4">Pic 3</div>
</div>


<div class="row show-grid">
	<div class="span4">Pic 1</div>
	<div class="span4">Pic 2</div>
	<div class="span4">Pic 3</div>
</div>

</section>